<nav class="mb-3" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="<%= workspaces_path(@organization.name) %>">Workspaces</a></li>
    <li class="breadcrumb-item active">New</li>
  </ol>
</nav>

<h2 class="mb-4">Create a workspace</h2>

<div class="row">
  <div class="col-xl-9">
    <%= form_with model: @workspace, class: "row g-3 mb-6" do |form| %>
      <div class="col-sm-6 col-md-8">
        <div class="form-floating">
          <%= form.text_field :name, class: "form-control" %>
          <label for="floatingInputGrid">Name</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-8">
        <div class="form-floating">
          <%= form.text_field :description, class: "form-control" %>
          <label for="floatingInputGrid">Description</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-8">
        <div class="form-floating">
          <%= form.text_field :working_directory, class: "form-control" %>
          <label for="floatingInputGrid">Working Directory</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-8">
        <div class="form-floating">
          <%= form.text_field :environment, class: "form-control" %>
          <label for="floatingInputGrid">Environment</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="form-floating">
          <%= form.select :execution_mode, ["local", "remote", "agent"], {}, {class: "form-select"} %>
          <label for="floatingSelectTask">Execution Mode</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="form-floating">
          <%= form.select :tofu_version, ["1.6.3", "1.7.3", "1.8.3"], {}, {class: "form-select"} %>
          <label for="floatingSelectTask">Tofu Version</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-8">
        <div class="form-check mb-0">
          <%= form.check_box :auto_apply, class: "form-check-input" %>
          <%= form.label :auto_apply, class: "form-check-label mb-0" %>
        </div>
      </div>
      <div class="col-sm-6 col-md-8">
        <div class="form-check mb-0">
          <%= form.check_box :allow_destroy_plan, class: "form-check-input" %>
          <%= form.label :allow_destroy_plan, class: "form-check-label mb-0" %>
        </div>
      </div>

      <div class="col-12 gy-6">
        <div class="row g-3 justify-content-end">
          <div class="col-auto">
            <%= link_to "Cancel", workspaces_path(@organization.name), class: "btn btn-phoenix-primary px-5" %>
          </div>
          <div class="col-auto">
            <%= form.submit "Create Workspace", class: "btn btn-primary px-5 px-sm-15" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
