<div class="w-full max-w-xs">
  <%= form_with model: @workspace do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name, class: "input input-bordered w-full max-w-xs" %>
    <%= form.label :description %>
    <%= form.text_field :description, class: "input input-bordered w-full max-w-xs" %>
    <%= form.label :environment %>
    <%= form.text_field :environment, class: "input input-bordered w-full max-w-xs" %>
    <%= form.label :execution_mode %>
    <%= form.select :execution_mode, ["remote", "local", "agent"], {}, class: "select select-bordered w-full max-w-xs" %>

    <%= form.label :tofu_version %>
    <%= form.select :tofu_version, ["v1.6.2", "v1.7.0-rc1", "latest"], {}, class: "select select-bordered w-full max-w-xs" %>

    <%= check_box_tag(:auto_apply) %>
    <%= label_tag(:auto_apply, "Auto Apply") %>

    <%= check_box_tag(:allow_destroy_plan) %>
    <%= label_tag(:allow_destroy_plan, "Allow Destroy Plan") %>

    <%= form.label :source %>
    <%= form.text_field :source, class: "input input-bordered w-full max-w-xs" %>
    <%= form.label :working_directory %>
    <%= form.text_field :working_directory, class: "input input-bordered w-full max-w-xs" %>
    <%= form.label :vcs_connection_id %>
    <%= form.select :vcs_connection_id, @vcs_connections.map{ |conn| [conn.name, conn.id]}, {}, class: "select select-bordered w-full max-w-xs" %>
    <%= form.submit "Create Workspace", class: "btn btn-primary btn-sm" %>
  <% end %>
</div>