<!--<div class="text-sm breadcrumbs">-->
<!--  <ul>-->
<!--    <li></li>-->
<!--    <li><a href="<%#= workspaces_path %>">Workspaces</a></li>-->
<!--    <li><%#= @workspace.name %></li>-->
<!--  </ul>-->
<!--</div>-->

<!--<div class="hero bg-base-200">-->
<!--  <div class="hero-content flex-col lg:flex-row-reverse">-->
<!--    <div>-->
<!--      <h2>Some stuff about our workspace</h2>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<h2><%#= @workspace.name %></h2>-->
<!--<h3>ID: <%#= @workspace.id %></h3>-->

<!--<h2>Current State</h2>-->
<!--<a href="<%#= workspace_runs_path(@organization.name, @workspace.external_id) %>">View Runs</a>-->

<nav class="mb-3" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><%= @organization.name %></li>
    <li class="breadcrumb-item"><a href="<%= workspaces_path(@organization.name) %>">Workspaces</a></li>
    <li class="breadcrumb-item active"><%= @workspace.name %></li>
  </ol>
</nav>

<div class="row g-0">
  <div class="col-12 col-xxl-12 px-0 bg-body">
    <div class="px-4 px-lg-6 pt-6 pb-9">
      <%= render "workspaces/partials/header" %>
      <div class="row gx-0 gx-sm-5 gy-8 mb-8">
        <div class="col-12 col-xl-3 col-xxl-4 pe-xl-0">
          <div class="mb-4 mb-xl-7">
            <div class="row gx-0 gx-sm-7">
              <div class="col-12 col-sm-auto">
                <table class="lh-sm mb-4 mb-sm-0 mb-xl-4">
                  <tbody>
                  <tr>
                    <td class="py-1" colspan="2">
                      <div class="d-flex"><span class="fa-solid fa-earth-americas me-2 text-body-tertiary fs-9"></span>
                        <h5 class="text-body">Project: <%= @workspace.project&.name %></h5>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="align-top py-1">
                      <div class="d-flex"><span class="fa-solid fa-user me-2 text-body-tertiary fs-9"></span>
                        <h5 class="text-body mb-0 text-nowrap">Execution mode: </h5>
                      </div>
                    </td>
                    <td class="ps-1 py-1"><%= @workspace.execution_mode %></td>
                  </tr>
                  <tr>
                    <td class="align-top py-1">
                      <div class="d-flex"><span class="fa-regular fa-credit-card me-2 text-body-tertiary fs-9"></span>
                        <h5 class="text-body mb-0 text-nowrap">Cost : </h5>
                      </div>
                    </td>
                    <td class="fw-bold ps-1 py-1 text-body-highlight">$0.00</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-12 col-sm-auto">
                <table class="lh-sm">
                  <tbody>
                  <tr>
                    <td class="align-top py-1 text-body text-nowrap fw-bold">Created: </td>
                    <td class="text-body-tertiary text-opacity-85 fw-semibold ps-3"><%= @workspace.created_at %></td>
                  </tr>
                  <tr>
                    <td class="align-top py-1 text-body text-nowrap fw-bold">Deadline :</td>
                    <td class="text-body-tertiary text-opacity-85 fw-semibold ps-3">21st May, 2028</td>
                  </tr>
                  <tr>
                    <td class="align-top py-1 text-body text-nowrap fw-bold">Progress :</td>
                    <td class="text-warning fw-semibold ps-3">80%</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div>
            <div class="d-flex align-items-center"><span class="fa-solid fa-list-check me-2 text-body-tertiary fs-9"></span>
              <h5 class="text-body-emphasis mb-0 me-2">XX<span class="text-body fw-normal ms-2">runs</span></h5><a class="fw-bold fs-9 mt-1" href="<%= workspace_runs_path(@organization.name, @workspace.external_id) %>">View runs <span class="fa-solid fa-chevron-right me-2 fs-10"></span></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-9 col-xxl-8">
          <div class="row flex-between-center mb-3 g-3">
            <div class="col-auto">
              <h4 class="text-body-emphasis">Task completed over time</h4>
              <p class="text-body-tertiary mb-0">Hard works done across all projects</p>
            </div>
            <div class="col-8 col-sm-4">
              <select class="form-select form-select-sm">
                <option>Mar 1 - 31, 2022</option>
                <option>April 1 - 30, 2022</option>
                <option>May 1 - 31, 2022</option>
              </select>
            </div>
          </div>
          <div class="echart-completed-task-chart" style="min-height:200px;width:100%"></div>
        </div>
        <div class="col-12 col-sm-5 col-lg-4 col-xl-3 col-xxl-4">
          <div class="mb-5">
            <h4 class="text-body-emphasis">Work loads</h4>
            <h6 class="text-body-tertiary">Last 7 days</h6>
          </div>
          <div class="echart-top-coupons mb-5" style="height:115px;width:100%;"></div>
          <div class="row justify-content-center">
            <div class="col-auto col-sm-12">
              <div class="row justify-content-center justify-content-sm-between g-5 g-sm-0 mb-2">
                <div class="col">
                  <div class="d-flex align-items-center">
                    <div class="bullet-item me-2 bg-primary"></div>
                    <h6 class="text-body fw-semibold flex-1 mb-0">Shantinan Mekalan</h6>
                  </div>
                </div>
                <div class="col-auto">
                  <h6 class="text-body fw-semibold mb-0">72%</h6>
                </div>
              </div>
              <div class="row justify-content-center justify-content-sm-between g-5 g-sm-0 mb-2">
                <div class="col">
                  <div class="d-flex align-items-center">
                    <div class="bullet-item me-2 bg-primary-lighter"></div>
                    <h6 class="text-body fw-semibold flex-1 mb-0">Makena Zikonn</h6>
                  </div>
                </div>
                <div class="col-auto">
                  <h6 class="text-body fw-semibold mb-0">18%</h6>
                </div>
              </div>
              <div class="row justify-content-center justify-content-sm-between g-5 g-sm-0 mb-2">
                <div class="col">
                  <div class="d-flex align-items-center">
                    <div class="bullet-item me-2 bg-info"></div>
                    <h6 class="text-body fw-semibold flex-1 mb-0">Meena Kumari</h6>
                  </div>
                </div>
                <div class="col-auto">
                  <h6 class="text-body fw-semibold mb-0">10%</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-7 col-lg-8 col-xl-5">
          <h4 class="text-body-emphasis mb-4">Team members</h4>
          <div class="d-flex mb-8">
            <div class="dropdown"><a class="dropdown-toggle dropdown-caret-none d-inline-block outline-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              <div class="avatar avatar-xl  me-1">
                <img class="rounded-circle " src="../../assets/img//team/33.webp" alt="" />

              </div>
            </a>
              <div class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden" style="width: 320px;">
                <div class="position-relative">
                  <div class="bg-holder z-n1" style="background-image:url(../../assets/img/bg/bg-32.png);background-size: auto;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="p-3">
                    <div class="text-end">
                      <button class="btn p-0 me-2"><span class="fa-solid fa-user-plus text-white"></span></button>
                      <button class="btn p-0"><span class="fa-solid fa-ellipsis text-white"></span></button>
                    </div>
                    <div class="text-center">
                      <div class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2"><img class="rounded-circle border border-light-subtle" src="../../assets/img//team/33.webp" alt="" /></div>
                      <h6 class="text-white">Tyrion Lannister</h6>
                      <p class="text-light text-opacity-50 fw-semibold fs-10 mb-2">@tyrion222</p>
                      <div class="d-flex flex-center mb-3">
                        <h6 class="text-white mb-0">224 <span class="fw-normal text-light text-opacity-75">connections</span></h6><span class="fa-solid fa-circle text-body-tertiary mx-1" data-fa-transform="shrink-10 up-2"></span>
                        <h6 class="text-white mb-0">23 <span class="fw-normal text-light text-opacity-75">mutual</span></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bg-body-emphasis">
                  <div class="p-3 border-bottom border-translucent">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex">
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-phone"></span></button>
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-message"></span></button>
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg"><span class="fa-solid fa-video"></span></button>
                      </div>
                      <button class="btn btn-phoenix-primary"><span class="fa-solid fa-envelope me-2"></span>Send Email</button>
                    </div>
                  </div>
                  <ul class="nav d-flex flex-column py-3 border-bottom">
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body d-inline-block" data-feather="clipboard"></span><span class="text-body-highlight flex-1">Assigned Projects</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body" data-feather="pie-chart"></span><span class="text-body-highlight flex-1">View activiy</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                  </ul>
                </div>
                <div class="p-3 d-flex justify-content-between"><a class="btn btn-link p-0 text-decoration-none" href="#!">Details </a><a class="btn btn-link p-0 text-decoration-none text-danger" href="#!">Unassign </a></div>
              </div>
            </div>
            <div class="dropdown"><a class="dropdown-toggle dropdown-caret-none d-inline-block outline-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              <div class="avatar avatar-xl  me-1">
                <img class="rounded-circle " src="../../assets/img//team/30.webp" alt="" />

              </div>
            </a>
              <div class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden" style="width: 320px;">
                <div class="position-relative">
                  <div class="bg-holder z-n1" style="background-image:url(../../assets/img/bg/bg-32.png);background-size: auto;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="p-3">
                    <div class="text-end">
                      <button class="btn p-0 me-2"><span class="fa-solid fa-user-plus text-white"></span></button>
                      <button class="btn p-0"><span class="fa-solid fa-ellipsis text-white"></span></button>
                    </div>
                    <div class="text-center">
                      <div class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2"><img class="rounded-circle border border-light-subtle" src="../../assets/img//team/30.webp" alt="" /></div>
                      <h6 class="text-white">Milind Mikuja</h6>
                      <p class="text-light text-opacity-50 fw-semibold fs-10 mb-2">@tyrion222</p>
                      <div class="d-flex flex-center mb-3">
                        <h6 class="text-white mb-0">224 <span class="fw-normal text-light text-opacity-75">connections</span></h6><span class="fa-solid fa-circle text-body-tertiary mx-1" data-fa-transform="shrink-10 up-2"></span>
                        <h6 class="text-white mb-0">23 <span class="fw-normal text-light text-opacity-75">mutual</span></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bg-body-emphasis">
                  <div class="p-3 border-bottom border-translucent">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex">
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-phone"></span></button>
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-message"></span></button>
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg"><span class="fa-solid fa-video"></span></button>
                      </div>
                      <button class="btn btn-phoenix-primary"><span class="fa-solid fa-envelope me-2"></span>Send Email</button>
                    </div>
                  </div>
                  <ul class="nav d-flex flex-column py-3 border-bottom">
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body d-inline-block" data-feather="clipboard"></span><span class="text-body-highlight flex-1">Assigned Projects</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body" data-feather="pie-chart"></span><span class="text-body-highlight flex-1">View activiy</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                  </ul>
                </div>
                <div class="p-3 d-flex justify-content-between"><a class="btn btn-link p-0 text-decoration-none" href="#!">Details </a><a class="btn btn-link p-0 text-decoration-none text-danger" href="#!">Unassign </a></div>
              </div>
            </div>
            <div class="dropdown"><a class="dropdown-toggle dropdown-caret-none d-inline-block outline-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              <div class="avatar avatar-xl  me-1">
                <img class="rounded-circle " src="../../assets/img//team/31.webp" alt="" />

              </div>
            </a>
              <div class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden" style="width: 320px;">
                <div class="position-relative">
                  <div class="bg-holder z-n1" style="background-image:url(../../assets/img/bg/bg-32.png);background-size: auto;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="p-3">
                    <div class="text-end">
                      <button class="btn p-0 me-2"><span class="fa-solid fa-user-plus text-white"></span></button>
                      <button class="btn p-0"><span class="fa-solid fa-ellipsis text-white"></span></button>
                    </div>
                    <div class="text-center">
                      <div class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2"><img class="rounded-circle border border-light-subtle" src="../../assets/img//team/31.webp" alt="" /></div>
                      <h6 class="text-white">Stanly Drinkwater</h6>
                      <p class="text-light text-opacity-50 fw-semibold fs-10 mb-2">@tyrion222</p>
                      <div class="d-flex flex-center mb-3">
                        <h6 class="text-white mb-0">224 <span class="fw-normal text-light text-opacity-75">connections</span></h6><span class="fa-solid fa-circle text-body-tertiary mx-1" data-fa-transform="shrink-10 up-2"></span>
                        <h6 class="text-white mb-0">23 <span class="fw-normal text-light text-opacity-75">mutual</span></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bg-body-emphasis">
                  <div class="p-3 border-bottom border-translucent">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex">
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-phone"></span></button>
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-message"></span></button>
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg"><span class="fa-solid fa-video"></span></button>
                      </div>
                      <button class="btn btn-phoenix-primary"><span class="fa-solid fa-envelope me-2"></span>Send Email</button>
                    </div>
                  </div>
                  <ul class="nav d-flex flex-column py-3 border-bottom">
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body d-inline-block" data-feather="clipboard"></span><span class="text-body-highlight flex-1">Assigned Projects</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body" data-feather="pie-chart"></span><span class="text-body-highlight flex-1">View activiy</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                  </ul>
                </div>
                <div class="p-3 d-flex justify-content-between"><a class="btn btn-link p-0 text-decoration-none" href="#!">Details </a><a class="btn btn-link p-0 text-decoration-none text-danger" href="#!">Unassign </a></div>
              </div>
            </div>
            <div class="dropdown"><a class="dropdown-toggle dropdown-caret-none d-inline-block outline-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              <div class="avatar avatar-xl  me-1">
                <img class="rounded-circle " src="../../assets/img//team/60.webp" alt="" />

              </div>
            </a>
              <div class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden" style="width: 320px;">
                <div class="position-relative">
                  <div class="bg-holder z-n1" style="background-image:url(../../assets/img/bg/bg-32.png);background-size: auto;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="p-3">
                    <div class="text-end">
                      <button class="btn p-0 me-2"><span class="fa-solid fa-user-plus text-white"></span></button>
                      <button class="btn p-0"><span class="fa-solid fa-ellipsis text-white"></span></button>
                    </div>
                    <div class="text-center">
                      <div class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2"><img class="rounded-circle border border-light-subtle" src="../../assets/img//team/60.webp" alt="" /></div>
                      <h6 class="text-white">Josef Stravinsky</h6>
                      <p class="text-light text-opacity-50 fw-semibold fs-10 mb-2">@tyrion222</p>
                      <div class="d-flex flex-center mb-3">
                        <h6 class="text-white mb-0">224 <span class="fw-normal text-light text-opacity-75">connections</span></h6><span class="fa-solid fa-circle text-body-tertiary mx-1" data-fa-transform="shrink-10 up-2"></span>
                        <h6 class="text-white mb-0">23 <span class="fw-normal text-light text-opacity-75">mutual</span></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bg-body-emphasis">
                  <div class="p-3 border-bottom border-translucent">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex">
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-phone"></span></button>
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-message"></span></button>
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg"><span class="fa-solid fa-video"></span></button>
                      </div>
                      <button class="btn btn-phoenix-primary"><span class="fa-solid fa-envelope me-2"></span>Send Email</button>
                    </div>
                  </div>
                  <ul class="nav d-flex flex-column py-3 border-bottom">
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body d-inline-block" data-feather="clipboard"></span><span class="text-body-highlight flex-1">Assigned Projects</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body" data-feather="pie-chart"></span><span class="text-body-highlight flex-1">View activiy</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                  </ul>
                </div>
                <div class="p-3 d-flex justify-content-between"><a class="btn btn-link p-0 text-decoration-none" href="#!">Details </a><a class="btn btn-link p-0 text-decoration-none text-danger" href="#!">Unassign </a></div>
              </div>
            </div>
            <div class="dropdown"><a class="dropdown-toggle dropdown-caret-none d-inline-block outline-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              <div class="avatar avatar-xl  me-1">
                <img class="rounded-circle " src="../../assets/img//team/65.webp" alt="" />

              </div>
            </a>
              <div class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden" style="width: 320px;">
                <div class="position-relative">
                  <div class="bg-holder z-n1" style="background-image:url(../../assets/img/bg/bg-32.png);background-size: auto;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="p-3">
                    <div class="text-end">
                      <button class="btn p-0 me-2"><span class="fa-solid fa-user-plus text-white"></span></button>
                      <button class="btn p-0"><span class="fa-solid fa-ellipsis text-white"></span></button>
                    </div>
                    <div class="text-center">
                      <div class="avatar avatar-xl status-online position-relative me-2 me-sm-0 me-xl-2 mb-2"><img class="rounded-circle border border-light-subtle" src="../../assets/img//team/65.webp" alt="" /></div>
                      <h6 class="text-white">Igor Borvibson</h6>
                      <p class="text-light text-opacity-50 fw-semibold fs-10 mb-2">@tyrion222</p>
                      <div class="d-flex flex-center mb-3">
                        <h6 class="text-white mb-0">224 <span class="fw-normal text-light text-opacity-75">connections</span></h6><span class="fa-solid fa-circle text-body-tertiary mx-1" data-fa-transform="shrink-10 up-2"></span>
                        <h6 class="text-white mb-0">23 <span class="fw-normal text-light text-opacity-75">mutual</span></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bg-body-emphasis">
                  <div class="p-3 border-bottom border-translucent">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex">
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-phone"></span></button>
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg me-2"><span class="fa-solid fa-message"></span></button>
                        <button class="btn btn-phoenix-secondary btn-icon btn-icon-lg"><span class="fa-solid fa-video"></span></button>
                      </div>
                      <button class="btn btn-phoenix-primary"><span class="fa-solid fa-envelope me-2"></span>Send Email</button>
                    </div>
                  </div>
                  <ul class="nav d-flex flex-column py-3 border-bottom">
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body d-inline-block" data-feather="clipboard"></span><span class="text-body-highlight flex-1">Assigned Projects</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                    <li class="nav-item"><a class="nav-link px-3 d-flex flex-between-center" href="#!"> <span class="me-2 text-body" data-feather="pie-chart"></span><span class="text-body-highlight flex-1">View activiy</span><span class="fa-solid fa-chevron-right fs-11"></span></a></li>
                  </ul>
                </div>
                <div class="p-3 d-flex justify-content-between"><a class="btn btn-link p-0 text-decoration-none" href="#!">Details </a><a class="btn btn-link p-0 text-decoration-none text-danger" href="#!">Unassign </a></div>
              </div>
            </div>
          </div>
          <h4 class="text-body-emphasis mb-4">Tags</h4>
          <% @workspace.tags.each do |tag| %>
            <span class="badge badge-tag me-2 mb-1"><%= tag.name %></span>
          <% end %>
        </div>
      </div>
      <h3 class="text-body-emphasis mb-4">Project overview</h3>
      <p class="text-body-secondary mb-4">The new redirection team is happy to announce that we’ve fixed all our unresponsive URLs and redirected them to new URLs. The tremendous assistance from our support team and the dev team, as well as that of the team lead’s, this team has made an impossible possible within a week. They didn’t stop for a moment, and we got our pages working again for all the valuable users. </p>
      <p class="text-body-secondary mb-0">Join us in celebrating the massive success of data transferring and getting us a huge revenue by eating out. Free public viewing and a buffet is offered for the great team as well as for the other teams working with us. We’ll be checking out places for the best option available at hands and we’ll let you know the schedule once we decide on one.<a class="fw-semibold" href="#!">read more </a></p>
    </div>
  </div>
  <div class="col-12 col-xxl-4 px-0 border-start-xxl border-top-sm">
    <div class="bg-light dark__bg-gray-1100 h-100">
      <div class="p-4 p-lg-6">
        <h3 class="text-body-highlight mb-4 fw-bold">Recent activity</h3>
        <div class="timeline-vertical timeline-with-details">
          <div class="timeline-item position-relative">
            <div class="row g-md-3">
              <div class="col-12 col-md-auto d-flex">
                <div class="timeline-item-date order-1 order-md-0 me-md-4">
                  <p class="fs-10 fw-semibold text-body-tertiary text-opacity-85 text-end">01 DEC, 2023<br class="d-none d-md-block" /> 10:30 AM</p>
                </div>
                <div class="timeline-item-bar position-md-relative me-3 me-md-0">
                  <div class="icon-item icon-item-sm rounded-7 shadow-none bg-primary-subtle"><span class="fa-solid fa-chess text-primary-dark fs-10"></span></div><span class="timeline-bar border-end border-dashed"></span>
                </div>
              </div>
              <div class="col">
                <div class="timeline-item-content ps-6 ps-md-3">
                  <h5 class="fs-9 lh-sm">Phoenix Template: Unleashing Creative Possibilities</h5>
                  <p class="fs-9">by <a class="fw-semibold" href="#!">Shantinon Mekalan</a></p>
                  <p class="fs-9 text-body-secondary mb-5">Discover limitless creativity with the Phoenix template! Our latest update offers an array of innovative features and design options.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline-item position-relative">
            <div class="row g-md-3">
              <div class="col-12 col-md-auto d-flex">
                <div class="timeline-item-date order-1 order-md-0 me-md-4">
                  <p class="fs-10 fw-semibold text-body-tertiary text-opacity-85 text-end">05 DEC, 2023<br class="d-none d-md-block" /> 12:30 AM</p>
                </div>
                <div class="timeline-item-bar position-md-relative me-3 me-md-0">
                  <div class="icon-item icon-item-sm rounded-7 shadow-none bg-primary-subtle"><span class="fa-solid fa-dove text-primary-dark fs-10"></span></div><span class="timeline-bar border-end border-dashed"></span>
                </div>
              </div>
              <div class="col">
                <div class="timeline-item-content ps-6 ps-md-3">
                  <h5 class="fs-9 lh-sm">Empower Your Digital Presence: The Phoenix Template Unveiled</h5>
                  <p class="fs-9">by <a class="fw-semibold" href="#!">Bookworm22</a></p>
                  <p class="fs-9 text-body-secondary mb-5">Unveiling the Phoenix template, a game-changer for your digital presence. With its powerful features and sleek design,</p>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline-item position-relative">
            <div class="row g-md-3">
              <div class="col-12 col-md-auto d-flex">
                <div class="timeline-item-date order-1 order-md-0 me-md-4">
                  <p class="fs-10 fw-semibold text-body-tertiary text-opacity-85 text-end">15 DEC, 2023<br class="d-none d-md-block" /> 2:30 AM</p>
                </div>
                <div class="timeline-item-bar position-md-relative me-3 me-md-0">
                  <div class="icon-item icon-item-sm rounded-7 shadow-none bg-primary-subtle"><span class="fa-solid fa-dungeon text-primary-dark fs-10"></span></div>
                </div>
              </div>
              <div class="col">
                <div class="timeline-item-content ps-6 ps-md-3">
                  <h5 class="fs-9 lh-sm">Phoenix Template: Simplified Design, Maximum Impact</h5>
                  <p class="fs-9">by <a class="fw-semibold" href="#!">Sharuka Nijibum</a></p>
                  <p class="fs-9 text-body-secondary mb-0">Introducing the Phoenix template, where simplified design meets maximum impact. Elevate your digital presence with its sleek and intuitive features.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

