<nav class="mb-3" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item active"><a href="<%= variable_sets_path(@organization.name) %>">Variable Sets</a></li>
  </ol>
</nav>

<div class="mb-9">
  <div data-list='{"valueNames":["projectName","assignees","start","deadline","task","projectprogress","status","action"],"page":6,"pagination":true}'>
    <div class="row mb-4 gx-6 gy-3 align-items-center">
      <div class="col-auto">
        <h2 class="mb-0">Variable Sets</h2>
      </div>
      <div class="col-auto">
        <%= link_to "Create Variable", new_variable_set_path(@organization.name), class: "btn btn-primary px-5" %>
      </div>
    </div>

    <div class="table-responsive scrollbar">
      <table class="table fs-9 mb-0 border-top border-translucent">
        <thead>
        <tr>
          <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="projectName" style="width:30%;">Name</th>
          <th class="sort align-middle ps-3" scope="col" data-sort="type" style="width:10%;">Description</th>
          <th class="sort align-middle ps-3" scope="col" data-sort="type" style="width:10%;">Auto Attach</th>
          <th class="sort align-middle ps-3" scope="col" data-sort="type" style="width:10%;">Priority</th>
        </tr>
        </thead>
        <tbody class="list" id="project-list-table-body">
        <% @variable_sets.each do |variable_set| %>
          <tr class="position-static">
            <td class="align-middle time white-space-nowrap ps-0 projectName py-4">
              <a class="fw-bold fs-8" href="<%= variable_set_path(@organization.name, variable_set.external_id) %>">
                <%= variable_set.name %>
              </a>
            </td>
            <td class="align-middle white-space-nowrap assignees ps-3 py-4">
              <%= variable_set.description %>
            </td>
            <td class="align-middle white-space-nowrap start ps-3 py-4">
              <p class="mb-0 fs-9 text-body"><%= variable_set.auto_attach %></p>
            </td>
            <td class="align-middle white-space-nowrap deadline ps-3 py-4">
              <p class="mb-0 fs-9 text-body"><%= variable_set.priority %></p>
            </td>
          </tr>
        <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>
