<div class="flex justify-center items-center pt-20">
  <div class="w-full max-w-xs">
    <div class="card bg-base-100">
      <div class="card-body">
        <h2 class="card-title">Forgot Password</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full max-w-xs" %>
          </div>

          <div class="card-actions justify-end">
            <%= f.submit "Reset Password", class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
