<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Status</th>
  </tr>
  <% @agents.each do |agent| %>
  <tr>
    <td><a href="<%= agent_path agent %>"><%= agent.id %></a></td>
    <td><%= agent.name %></td>
    <td><%= agent.status %></td>
  </tr>
  <% end %>
</table>

<div class="w-full max-w-xs">
  <div class="grid grid-cols-1">
    <a class="btn btn-primary btn-sm" href="<%= new_agent_path %>">Create Agent</a>
  </div>
</div>
