<div class="mb-9">
  <div data-list='{"valueNames":["projectName","assignees","start","deadline","task","projectprogress","status","action"],"page":6,"pagination":true}'>
    <div class="row mb-4 gx-6 gy-3 align-items-center">
      <div class="col-auto">
        <h2 class="mb-0">Projects</h2>
      </div>
      <% if allowed_to?(:can_create_projects?, @organization) %>
      <div class="col-auto">
        <%= link_to "Create Project", new_project_path(@organization.name), class: "btn btn-primary px-5" %>
      </div>
      <% end %>
    </div>

    <div class="table-responsive scrollbar">
      <table class="table fs-9 mb-0 border-top border-translucent">
        <thead>
        <tr>
          <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="projectName" style="width:30%;">Name</th>
          <th class="sort align-middle ps-3" scope="col" data-sort="type" style="width:10%;">Description</th>
          <th class="sort align-middle ps-3" scope="col" data-sort="type" style="width:10%;">Teams</th>
          <th class="sort align-middle ps-3" scope="col" data-sort="id" style="width:10%;">Workspaces</th>
        </tr>
        </thead>
        <tbody class="list" id="project-list-table-body">
        <% @projects.each do |project| %>
          <tr class="position-static">
            <td class="align-middle time white-space-nowrap ps-0 projectName py-4"><a class="fw-bold fs-8" href="<%= project_path(@organization.name, project.external_id) %>"><%= project.name %></a></td>
            <td class="align-middle white-space-nowrap assignees ps-3 py-4">
              <%= project.description %>
            </td>
            <td class="align-middle white-space-nowrap assignees ps-3 py-4">
              <%= project.team_count %>
            </td>
            <td class="align-middle white-space-nowrap assignees ps-3 py-4">
              <%= project.workspace_count %>
            </td>
          </tr>
        <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>
