<div class="flex justify-center items-center pt-20">
  <div class="w-full max-w-xs">
    <div class="card bg-base-100">
      <div class="card-body">
        <h2 class="card-title">Log in</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full max-w-xs" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered w-full max-w-xs" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="card-actions justify-end">
            <%= f.submit "Submit", class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>
        </div>
      </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
