<table class="table">
  <tr>
    <th>Name</th>
    <th>Scopes</th>
    <th>Created At</th>
    <th>Expires At</th>
  </tr>
  <% @tokens.each do |token| %>
  <tr>
    <td><%= token.name %></td>
    <td><%= token.scopes %></td>
    <td><%= token.created_at %></td>
    <td><%= token.expires_at %></td>
  </tr>
  <% end %>
</table>

<a class="btn btn-primary btn-sm" href="<%= new_access_token_path %>">Create Access Token</a>
