<div class="w-full max-w-xs">
<% if @token.errors.any? %>
  <% @token.errors.full_messages.each do |message|%>\
    <h3><%= message %> </h3>
  <%end%>
<%end%>

<%= form_with model: @token do |form| %>
    <%= form.label :name %>
  <%= form.text_field :name, class: "input input-bordered w-full max-w-xs"%>
    <%= form.label :scopes %>
  <%= form.text_field :scopes, class: "input input-bordered w-full max-w-xs" %>
    <%= form.label :expires_at %>
  <%= form.text_field :expires_at, class: "input input-bordered w-full max-w-xs" %>
  <%= form.submit "Create Token", class: "btn btn-primary btn-sm" %>
<% end %>
</div>