<%= render layout: 'partials/default_sidebar' do %>
  <table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Auto Create Workspaces</th>
    <th>Type</th>
  </tr>
  <% @organizations.each do |organization| %>
  <tr>
    <td><a href="<%= organization_path organization %>"><%= organization.id %></a></td>
    <td><%= organization.name %></td>
    <td><%= organization.allow_auto_create_workspace %></td>
    <td><%= organization.organization_type %></td>
  </tr>
  <% end %>
</table>
<% end %>