<!DOCTYPE html>
<html>
  <head>
    <title>Chushi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="apple-touch-icon" sizes="180x180" href="/_vendor/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/_vendor/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/_vendor/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/_vendor/img/favicons/favicon.ico">
    <link rel="manifest" href="/_vendor/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/_vendor/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="/_vendors/simplebar/simplebar.min.js"></script>
    <script src="/_vendor/js/config.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <!-- Phoenix CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="/_vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="/_vendor/css/theme-rtl.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="/_vendor/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="/_vendor/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="/_vendor/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
    <link href="/_vendors/leaflet/leaflet.css" rel="stylesheet">
    <link href="/_vendors/leaflet.markercluster/MarkerCluster.css" rel="stylesheet">
    <link href="/_vendors/leaflet.markercluster/MarkerCluster.Default.css" rel="stylesheet">
  </head>

  <body>
    <main class="main" id="top">
      <% if current_user %>
        <%= render "partials/navbar" %>
        <div class="content">
          <%= yield %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
      <%= render "partials/support_container" %>
    </main>
  </body>
</html>
